/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

body{
    background-image: url('./assets/reloj.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    width: 98vw; 
}